.Product {
    width: 322px;
    height: 478px;
}

.Product:hover .product-div {
    transform: scale(1.1);
    cursor: pointer;
}

.Product .product-img {
    width: 322px;
    height: 322px;
}

.Product .name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding-bottom: 5px;
}

.Product .prices {
    display: flex;
    justify-content: center;
    gap: 5px
}

.Product .old-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: line-through;
    color: #ABA0A0;
}

.Product .current-price {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.Product .sale {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}