.Footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 220px;
    max-height: 400px;
    background-color: #C4C4C4;

    position: relative;

    padding: 0 160px;
}

.Footer .contact {
    display: flex;
    flex-direction: column;
    text-align: left;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #474545;

    gap: 5px;
}

.Footer .contact :first-child {
    font-weight: 700;
}

.Footer .social-media img {
    width: 40px;
    height: 40px;
}

.Footer .vertical-line {
    width: 200px;
    height: 0px;

    border: 1px solid #6D6B6B;
    transform: rotate(90deg);
}

.Footer .logo-div .log {
    width: 279px;
    height: 113px;
}